* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
}

  

html {
	display: grid;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	background-color: rgba(0, 0, 0, 0);
}

body {
	color: rgb(255, 255, 255);
	background-color: rgb(121, 0, 0);
	margin: 0;
}



#start-button {
	color: rgb(205, 223, 139);
	background-color: rgb(92, 92, 119);
	border-style: dashed;
	justify-content: center;
}

#start-btn{
	color: rgb(139, 223, 140);
}

button {
	display: grid;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;
	background-color: whitesmoke;
	color: blue;
}

#choice-container {
	display: flex;

	flex-wrap: wrap;
	justify-content: left\;
	row-gap: 0.2em;
}
.all-buttons {
	margin-left: 1.5em;
	height: max-content;
	width: max-content;
}
.placeholder{
	color:rgb(0, 0, 0) ;
}
.high-scores {
	display: flex;
	justify-content: space-around;
}
button:hover {
	transform: scale(1.2);
}



#quiz-screen {
	margin-left: 26.5%;
	margin-top: 1em;
}



li {
	font-family: "Cambria", serif;
	font-size: 1.5em;
}

#quiz-timer {
	color: rgb(197, 197, 197);
}


.hidden {
	display: none;
  }